img {
    position: absolute;
}
div {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#counter {
    display: flex;
    justify-content: center;
    overflow: hidden;
}