<!DOCTYPE html>
<html>

<head>
    <title>Pop hamster</title>
    <meta name="title" content="Pop hamster">
    <meta name="description" content="Pop hamster">

    <!--====== FB OG metadata ======-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pop hamster" />
    <meta property="og:description" content="Pop hamster" />
    <meta property="og:url" content="https://shliya.github.io/shliyahamster.github.io/view/test.html" />
    <meta property="og:image"
        content="https://shliya.github.io/shliyahamster.github.io/assets/images/shiliyaImg/shiliya_logo_fb.png">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Pop hamster">
    <meta name="twitter:description" content="Pop hamster">
    <meta name="twitter:site" content="Pop hamster">
    <meta name="twitter:creator" content="Pop hamster">
    <meta name="twitter:url" content="https://shliya.github.io/shliyahamster.github.io/view/test.html">
    <meta name="twitter:image"
        content="https://shliya.github.io/shliyahamster.github.io/assets/images/shiliyaImg/shiliya_logo.png">

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <button id="changeImg">change Img</button>
    <div id="counter"></div>
    <div id="pop_div" style="min-width: fit-content; min-height: fit-content;">
        <img id="upImg" src="./assets/shiliya_up.png" />
        <img id="popImg" src="./assets/shiliya_pop.png" style="visibility: hidden;" />
        
    </div>
</body>

<script>
    window.onload = () => {
        let popDiv = document.getElementById("pop_div");
        let upImg = document.getElementById("upImg");
        let popImg = document.getElementById("popImg")
        let pop_count = 0;
        let showCount = document.getElementById("counter")
        let changeImg = false;
        let changeBtn = document.getElementById("changeImg")
        changeBtn.onclick = function(e){
            if(changeImg === false){
                changeImg = true;
            }else{
                changeImg = false;
            }
            if(changeImg === false){
                upImg.src = "./assets/shiliya_up.png"
                popImg.src = "./assets/shiliya_pop.png"
            }else{
                upImg.src = "./assets/meownus_up.png"
                popImg.src = "./assets/meownus_pop.png"
            }
        }
        //============todo sound A============
        // let sound_video = new Audio("");

        // const playSound = () => {
        //     sound_video.play();
        // }

        const popMethod = () => {
            if(changeImg === true){
                upImg.setAttribute("style", "visibility: hidden;")
                popImg.setAttribute("style", "visibility: unset; width:463px;height:486px")
            }else{
                upImg.setAttribute("style", "visibility: hidden;")
                popImg.setAttribute("style", "visibility: unset;")
            }

        }
        const downMethod = () => {
            popImg.setAttribute("style", "visibility: hidden;")
            upImg.setAttribute("style", "visibility: unset;")
        }
        const addCount = () => {
            pop_count++;
            window.localStorage.setItem("pop_count", pop_count)
            counter.innerHTML = pop_count
        }
        popDiv.addEventListener("mousedown", function (e) {
            addCount();
            popMethod();
        })
        popDiv.addEventListener("mouseup", function (e) {
            downMethod()
        })
    }
</script>

</html>