<!DOCTYPE html>
<html>

<head>
    <title>Pop meownus</title>
    <meta name="title" content="Pop meownus">
    <meta name="description" content="Pop meownus">

    <!--====== FB OG metadata ======-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pop meownus" />
    <meta property="og:description" content="Pop meownus" />
    <meta property="og:url" content="https://shliya.github.io/shliyahamster.github.io/view/test.html" />
    <meta property="og:image"
        content="https://shliya.github.io/shliyahamster.github.io/assets/images/shiliyaImg/shiliya_logo_fb.png">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Pop meownus">
    <meta name="twitter:description" content="Pop meownus">
    <meta name="twitter:site" content="Pop meownus">
    <meta name="twitter:creator" content="Pop meownus">
    <meta name="twitter:url" content="https://shliya.github.io/shliyahamster.github.io/view/test.html">
    <meta name="twitter:image"
        content="https://shliya.github.io/shliyahamster.github.io/assets/images/shiliyaImg/shiliya_logo.png">

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="meownus_div" style="min-width: fit-content; min-height: fit-content;">
        <img id="meownus" src="./assets/up.png" />
        <img id="meownus_pop" src="./assets/pop.png" style="visibility: hidden;" />
        <div id="counter"></div>
    </div>
</body>

<script>
    window.onload = () => {
        "use strict";
        let meownusDiv = document.querySelector("#meownus_div");
        let meownus = document.querySelector("#meownus");
        let meownusPop = document.querySelector("#meownus_pop")
        let pop_count = 0;
        let showCount = document.querySelector("#counter")
        let sound_video = new Audio("");

        var storage = {};
        storage.load = function () {
            var count = localStorage.getItem("pop_count");
            if (count !== null) {
                pop_count = parseInt(count);
                counter.innerHTML = pop_count;
            }
        };
        storage.save = function () {
            localStorage.setItem("pop_count", pop_count);
        }
        const playSound = () => {
            sound_video.currentTime = 0;
            sound_video.play();
        }
        const popMethod = () => {
            // playSound();
            meownus.setAttribute("style", "visibility: hidden;")
            meownusPop.setAttribute("style", "visibility: unset;")
        }
        const downMethod = () => {
            meownusPop.setAttribute("style", "visibility: hidden;")
            meownus.setAttribute("style", "visibility: unset;")
        }
        const addCount = () => {
            pop_count++;
            window.localStorage.setItem("pop_count", pop_count)
            counter.innerHTML = pop_count
        }
        meownusDiv.addEventListener("mousedown", function (e) {
            addCount();
            popMethod();
        })
        meownusDiv.addEventListener("mouseup", function (e) {
            downMethod()
        })
    }
</script>

</html>