<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>轉盤實驗測試中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://codepen.io/hexagoncircle/pen/vYxKLOa.css'>
    <link rel="stylesheet" href="./assets/css/wheelstyle.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="deal-wheel">
        <ul class="spinner"></ul>
        <figure class="cap">
            <!-- Grim reaper SVG import -->
            <select id="select-reaction" class="select">
                <option value="resting">resting</option>
                <option value="dancing">dancing</option>
                <option value="laughing">laughing</option>
                <option value="shocked">shocked</option>
            </select>

            <img src="./assets/asp3e-xkbry.svg" alt="">
            <svg class="grim-reaper" data-reaction="resting" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 582 653">
            </svg>
        </figure>
        <div class="ticker"></div>
        <button class="btn-spin">SKIP</button>
        <!-- partial -->
    </div>
    <div id="setArea">
        <textarea id="names" placeholder="請在這裡輸入人姓名，並用不同的行分隔。" class="names"></textarea>
        <button id="setwheel">新增轉盤項目</button>
    </div>
    <script src="assets/js/wheelscript.js"></script>
    <script>
        (function (d) {
            var config = {
                kitId: 'bxy7vae',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
</body>

</html>